html {
  font-family: 'EB Garamond', serif;
  font-size: 10px;
  color: rgb(68, 68, 68);
}

body {
  font-size: 1.8rem;
  background: rgb(247, 248, 250);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header__link-wrap {
  padding: 1rem;
  background: rgb(247, 248, 250);
}

.header__fade {
  height: 2rem;
  background: linear-gradient(rgb(247, 248, 250), rgba(247, 248, 250, 0));
}

.submit-a-show {
  display: block;
  background: rgb(20, 191, 150);
  color: rgb(247, 248, 250);
  border: 2px solid rgb(20, 191, 150);
  text-decoration: none;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 13px;
  transition: 200ms;
  box-shadow: 2px 2px 4px 0 grey;
}

.submit-a-show:hover {
  background: rgb(20, 191, 150);
  color: rgb(247, 248, 250);
}

.container {
  max-width: 900px;
  margin: 10rem auto;
  padding: 0 1rem;
}

.introduction {
  padding: 2rem 0;
}

h3 {
  font-size: 1em;
  padding: 0.75rem 2rem;
  background: steelblue;
  color: rgb(247, 248, 250);
}

a {
  color: rgb(68, 68, 68);
}

a:hover {
  color: steelblue;
}

ul {
  list-style-type: none;
  padding: 0;
}

.event-listing {
  border-bottom: 1px solid steelblue;
  padding: 2rem 0;
  margin: 0 2rem;
}

.event-listing:last-of-type {
  border: none;
}

.event-listing__link,
.event-listing__venue {
  display: inline-block;
  margin: 0 0.1em;
  font-weight: bold;
}

.event-listing__details,
.event-listing__details > a,
.event-listing__lineup {
  color: grey;
}

.empty-list {
  color: grey;
  margin: 5rem 0;
}

.search-label {
  display: block;
  font-size: 0.8em;
  margin: 1rem 0;
  color: steelblue;
}

.search-label > input {
  display: block;
  width: 100%;
  font-size: 1.2em;
  padding: 0.5em;
  border: 2px solid steelblue;
  border-radius: 5px;
}